@media (max-width: 1345px){
    .checkout{
        .checkout__inner{
            &-order{
                .check__main-inner{
                    flex-wrap: wrap;
                    padding-bottom: 60px;
                    .message{
                        padding-top: 20px;
                    }
                }
            }
            &-products{
                justify-content: center;
                .item{
                    margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    .header{
        .header__main{
            display: flex;
            flex-direction: column;
            .contacts{
                display: none;
            }
        }
    }
}

@media (max-width: 1100px){
    .header{
        .header__main{
            &-slider{
                &-item{
                    justify-content: normal;
                    .info{
                        max-width: 60%;
                    }
                    .img{
                        width: 30%;
                    }
                }
            }
        }
    }
    .group{
        .group__items{
            justify-content: center;
        }
    }
    .order{
        .order__inner{
            flex-direction: column;
            .left{
                &__inner{
                    justify-content: start;
                }
            }
            .right{
                &__inner{
                    justify-content: start;
                    &-price{
                        padding-left: 30px;
                    }
                }
            }
            .contacts{
                display: none;
            }
        }
    }
}

@media (max-width: 1000px){
    .header{
        .header__main{
            &-slider{
                &-item{
                    justify-content: normal;
                    .info{
                        max-width: 50%;
                    }
                }
            }
        }
    }
    .form{
        .form__inner{
            &-right{
                display: none;
            }
        }
    }
    .group{
        .group__items{
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 900px){
    .header{
        &__top{
            padding-top: 0;
            display: block;
            .left{
                display: block;
                .mail{
                    display: none;
                }
                .logo{
                    padding: 20px 0;
                }
            }
            .right{
                padding: 20px;
            }
        }
        &__main{
            padding-bottom: 50px;
            .contacts{
                display: none;
            }
            .menu{
                text-align: center;
                position: fixed;
                z-index: 99999;
                .header__btn{
                    display: block;
                    position: fixed;
                    z-index: 50;
                    top: 15px;
                    left: 90%;
                    margin-left: 0;
                }
                ul{
                    display: none;
                    position: absolute;
                    left: -30px;
                    right: 0;
                    top: -222px;
                    padding-top: 60px;
                    z-index: 49;
                    background-color: #fff;
                    height: 100vh;
                    width: 100vw;
                    li {
                        + li {
                            padding-left: 0;
                        }
                        border-top: 1px solid #f2f2f2;
                        border-bottom: 1px solid #f2f2f2;
                        padding-bottom: 20px;
                        padding-top: 20px;
                    }
                }
            }
            &-slider{
                .slick-list{
                    height: 100% !important;
                }
                .slider-arrows{
                    bottom: -110px;
                }
                &-item{
                    .info{
                        padding-top: 0;
                        order: 2;
                    }
                    .img{
                        order: 1;
                    }
                }
            }
            .contacts{
                display: none;
            }
        }
        .slider-dotshead{
            padding-bottom: 25px;
        }
    }
    .catalog{
        .catalog__slider{
            &-item{
                flex-wrap: wrap;
            }
            .slider-arrows{
                display: none !important;
            }
        }
    }
    .footer{
        .footer-sub{
            flex-wrap: wrap;
        }
        .menu{
            display: none;
        }
    }
    ////////////////////////////////
    .footer ul{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        li{
            padding-bottom: 30px;
        }
    }
    .checkout{
        .checkout__inner{
            &-products{
                display: none;
            }
            &-order{
                .table{
                    display: grid;
                    grid-template-areas:
                    "name name name"
                    "quantity price total";
                    &__name{
                        grid-area: name;
                        &-inner{
                            .amount{
                                display: block;
                                &-item{
                                    padding-top: 12px;
                                }
                            }
                        }
                    }
                    &-quantity{
                        grid-area: quantity;
                    }
                    &-price{
                        grid-area: price;
                    }
                    &-total{
                        grid-area: total;
                    }
                }
                .check__main-inner{
                    flex-wrap: nowrap;
                    padding-bottom: 80px;
                    padding-top: 30px;
                    .message{
                        padding-top: 0;
                    }
                    input{
                        padding: 12px 5px;
                    }
                }
                .check__main-price{
                    width: 330px;
                    margin: 0 auto;
                }
            }
        }
    }
    
}

@media (max-width: 835px){
    .header{
        padding-bottom: 0;
        &__main{
            &-slider{
                width: auto;
                &-item{
                    margin: 0 auto;
                    max-width: 500px;
                    flex-flow: column;
                    align-items: center;
                    text-align: center;
                    max-width: 90%;
                    .info{
                        max-width: 95% !important;
                    }
                    .img{
                        width: 80% !important;
                    }
                }
                .slider-arrows{
                    display: none !important;
                }
            }
        }
        .slider-dotshead{
            display: none;
        }
    }
    .check{
        .check__main-inner{
            display: block;
            text-align: center;
            padding-bottom: 80px;
            font-size: 16px;
            .message{
                padding-top: 20px;
                margin: 0 26%;
            }
        }
    }
}

@media (max-width: 768px){
    .catalog{
        .catalog__slider{
            .catalog__slider-item{
                .info{
                    .advantages{
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
    .why{
        .why__slider{
            .slider-arrows{
                display: none !important;
            }
        }
    }
    .check{
        .check__main-inner{
            .message{
                padding-top: 20px;
                margin: 0 24%;
            }
        }
    }
}

@media (max-width: 670px){
    .checkout{
        .checkout__inner{
            &-order{
                .check__main-inner{
                    flex-wrap: wrap;
                    justify-content: center;
                    .message{
                        margin: 0 24%;
                    }
                }
            }
        }
    }
}

@media (max-width: 650px){
    .form{
        .form__inner{
            .form__inner-left{
                flex-wrap: wrap;
                .box{
                    margin-bottom: 20px;
                    width: 100%;
                    &-inner{
                        input{
                            width: 100%;
                        }
                        textarea{
                            width: 100%;
                        }
                    }
                }
                .contacts{
                    padding-top: 20px;
                    margin: 0 auto;
                    width: 100%;
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        li + li{
                            padding-top: 0;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .footer{
        .footer-sub{
            font-size: 16px;
        }
    }
}

@media (max-width: 600px){
    .check{
        .check__main-inner{
            .message{
                padding-top: 20px;
                margin: 0 18%;
            }
        }
    }
}

@media (max-width: 540px){
    .header{
        &__main{
            &-slider{
                &-item{
                    .info{
                        .btn{
                            font-size: 14px;
                        }
                        h1{
                            font-size: 24px;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .group{
        .group__items{
            display: block;
            padding: 0;
            &-item{
                width: 100%;
                .car{
                    width: 50px;
                    height: 39px;
                    background-position: -115px -105px;
                }
                .warranty:before{
                    width: 34px;
                    height: 48px;
                    background-position: -358px -111px;
                }
                .control:before{
                    width: 50px;
                    height: 38px;
                    background-position: -5px -210px;
                }
                .discount:before{
                    width: 47px;
                    height: 46px;
                    background-position: -169px -210px;
                }
            }
            li{
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .check{
        .check__main-inner{
            .message{
                padding-top: 20px;
                margin: 0 15%;
            }
        }
    }
    .footer{
        .logo-m{
            display: block;
            text-align: center;
            padding-top: 30px;
        }
        .footer-sub{
            display: block;
            padding: 0;
            text-align: center;
            input{
                width: 100%;
                margin-bottom: 20px;
            }
            .btn{
                margin-bottom: 20px;
                box-shadow: 0px 1.7px 24.3px 1.7px #cecece;
            }
        }
        .menu{
            display: none;
        }
        .text-m{
            display: block;
            color: #fff;
            text-align: center;
            padding-top: 20px;
            p{
                margin: 0;
                padding-bottom: 20px;
            }
        }
    }
    ///////////////////////////////////////////////////// page 2
    .checkout .checkout__inner-order .check__main-inner .message{
        margin: 0 17%;
    }
    .form--cart{
        display: block;
        .container{
            padding: 0;
            h3{
                padding-left: 20px;
            }
            .form__inner--cart{
                display: block;
                padding: 0 20px;
                width: 100%;
                box-shadow: none;
                .form__inner-left--cart{
                    .box{
                        input{
                            width: 100%;
                        }
                    }
                }
                .form__inner-right--cart{
                    .top{
                        background-color: transparent;
                    }
                    input{
                        width: 100%;
                    }
                }
            }
        }
    } 
    .form__inner-left{
        display: block;
    }
    .order{
        .order__inner{
            display: block;
            .contacts{
                ul{
                    align-items: baseline;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .why{
        .why__slider{
            padding-bottom: 0px;
            &-item{
                padding-top: 60px;
                padding-bottom: 100px;
                width: 350px !important;
            }
        }
    }
    .check{
        .check__main-inner{
            font-size: 14px;
            .message{
                margin: 0 5%;
            }
        }
    }
}

@media (max-width: 414px){
    .catalog{
        .catalog__slider{
            &-item{
                .info{
                    .advantages{
                        &-item{
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                    .price{
                        .btn{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .why{
        .why__slider{
            &-item{
                padding-top: 30px;
                padding-bottom: 80px;
                width: 300px !important;
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .check{
        .check__main-inner{
            .message{
                .success{
                    p{
                        width: 260px;
                    }
                }
            }
        }
    }
    .header__main .menu .header__btn{
        left: 270px;
    }
    .checkout .checkout__inner-order .check__main-inner .message{
        margin: 0 8%;
    }
}

@media (max-width: 414px){
    .check{
        .check__main-inner{
            input{
                margin-bottom: 10px;
            }
            .message{
                padding-top: 10px;
            }
        }
    }
}

@media (max-width: 375px){
    .why{
        .why__slider{
            &-item{
                padding-bottom: 55px;
                width: 250px !important;
                p{
                    font-size: 12px;
                }
            }
        }
    }
    .checkout{
        .checkout__inner-order{
            .check__main-inner{
                .message{
                    margin: 0 4%;
                }
            }
            .check__main-price{
                width: 100%;
                .left{
                    width: 100%;
                    h3{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 360px){
    .form{
        .form__inner{
            .form__inner-left{
                .box{
                    &-inner{
                        padding: 25px;
                    }
                }
            }
        }
    }
    .check{
        .check__main-inner{
            .message{
                margin: 0 auto;
                .success{
                    p{
                        width: 245px;
                    }
                }
            }
        }
    }
    .checkout .checkout__inner-order .check__main-inner .message{
        margin: 0 2%;
    }
}