@import "vars";
@import "global";
@import "libs";
@import "fonts";

.header{
    padding-bottom: 130px;
    .pentagon{
        position: absolute;
        width: 70%;
        z-index: -2;
        box-sizing: content-box;
        border-width: 45rem 50px 0 0;
        border-style: solid;
        border-color: #dfeee5 transparent;
    }
    &__top{
        padding-top: 75px;
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            align-items: baseline;
            .logo{
                padding-right: 80px;
                &:before{
                    content: "";
                    display: inline-block;
                    background: url(../img/sprite.png) no-repeat top right;
                    vertical-align: sub;
                    width: 156px;
                    height: 43px;
                    background-position: -5px -5px;
                }
            }
            .mail{
                &:before{
                    content: "";
                    display: inline-block;
                    background: url(../img/sprite.png) no-repeat;
                    vertical-align: bottom;
                    width: 34px;
                    height: 26px;
                    background-position: -314px -99px;
                }
                p{
                    display: inline-block;
                    font-size: 21px;
                    margin: 0;
                }
            }
        }
        .right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn{
                font-size: 15px;
                span{
                    color: #fff;
                    font-size: 22px;
                    font-weight: bold;
                    &:after{
                        content: "";
                        display: inline-block;
                        vertical-align: sub;
                        background: url(../img/sprite.png) no-repeat top right;
                        width: 25px;
                        height: 25px;
                        background-position: -96px -63px;
                        margin-left: 10px;
                    }
                }
            }
            .dropdown {
                position: relative;
                display: inline-block;
                padding-left: 40px;
                &-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    width: 140px;
                    a {
                        color: black;
                        padding: 2px 0 2px 25px;
                        text-decoration: none;
                        display: block;
                        &:hover {
                            background-color: #f1f1f1
                        }
                    }
                }
                &:hover .dropdown-content {
                    display: block;
                }
            }
            .dropbtn {
                padding: 5px 5px 5px 0;
                cursor: pointer;
                width: 40px;
                &:after {
                    background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
                    content: "";
                    height: 16px;
                    position: absolute;
                    right: 0;
                    top: 7px;
                    width: 16px;
                }
            }
        }
    }
    &__main{
        display: grid;
        grid-template-areas: 
            "menu contacts"
            "slider contacts";
        padding-top: 50px;
        &-menu{
            grid-area: menu;
            margin: 0;
            .menu{
                .fa-shopping-cart{
                    cursor: pointer;
                    &:hover{
                        color: #9a9a9a;
                        transition: color .3s ease-out;
                    }
                }
                .header__btn{
                    display: none;
                    cursor: pointer;
                    margin-left: 15px;
                    padding-left: 1.25em;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    &-top {
                        top: 0;
                    }
                    &-middle {
                        top: 15px;
                    }
                    &-bottom {
                        top: 30px;
                    }
                    &-top-click {
                        backface-visibility: hidden;
                        top: 15px;
                        transform: rotate(50deg);
                        transition: 0.55s 0.5s;
                    }
                    &-middle-click {
                        opacity: 0;
                    }
                    &-bottom-click {
                        backface-visibility: hidden;
                        top: 15px;
                        transform: rotate(-410deg);
                        transition: 0.55s 0.5s;
                    }
                    &-global {
                        backface-visibility: hidden;
                        position: absolute;
                        left: 0;
                        border-top: 7px solid #5eb785;
                        width: 100%;
                        transition: 0.55s;
                    }
                }
                ul{
                display: flex;
                font-size: 22px;
                font-weight: bold;
                    li{
                        + li {
                            padding-left: 55px;
                        }
                        a{
                            color: #000;
                            font-size: 15px;
                            &:hover{
                                color: #5eb785;
                                transition: color .3s ease-out;
                            }
                        }
                    }
                }
            }
        }
        .contacts{
            grid-area: contacts;
            ul{
                li{
                    cursor: pointer;
                    + li {
                        padding-top: 40px;
                    }
                    .tele{
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        width: 39px;
                        height: 36px;
                        background-position: -115px -159px;
                    }
                    .inst{
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        width: 38px;
                        height: 38px;
                        background-position: -256px -210px;
                    }
                    .vk{
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        width: 46px;
                        height: 29px;
                        background-position: -304px -210px;
                    }
                }
            }
        }
        &-slider{
            grid-area: slider;
            width: 1100px;
            position: relative;
            &:focus {
                outline: none;
            }
            .slider-arrows{
                position: absolute;
                bottom: -35px;
                left: 310px;
            }
            .arrow-next{
                border-radius: 0 10em 10em 0;
                border-style: none;
                padding: 12px 20px 10px 30px;
                cursor: pointer;
                background-color: #fff;
                box-shadow: 0px 7px 24.3px 2.7px #cecece;
                &:focus {
                    outline: none;
                }
                &:before{
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    width: 11px;
                    height: 19px;
                    background-position: -300px -34px;
                }
                &.slick-disabled{
                    background-color: #e6e6e6;
                    box-shadow: none;
                    &:before {
                        content: "";
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        opacity: 0.2;
                        width: 11px;
                        height: 19px;
                        background-position: -5px -63px;
                    }
                }
            }
            .arrow-prev{
                border-radius: 10em 0 0 10em;
                border-style: none;
                padding: 12px 20px 10px 30px;
                left: 249px;
                cursor: pointer;
                background-color: #fff;
                box-shadow: 0px 7px 24.3px 2.7px #cecece;
                &:focus {
                    outline: none;
                }
                &:before{
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    width: 11px;
                    height: 19px;
                    background-position: -300px -5px;
                }
                &.slick-disabled{
                    background-color: #e6e6e6;
                    box-shadow: none;
                    &:before {
                        content: "";
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        opacity: 0.2;
                        width: 11px;
                        height: 19px;
                        background-position: -203px -34px;
                    }
                }
            }
            &-item{
                display: flex !important;
                justify-content: space-between;
                &:focus {
                    outline: none;
                }
                .info{
                    max-width: 820px;
                    padding-top: 60px;
                    h1{
                        font-family: 'MuseoSansCyrl';
                        font-weight: 700;
                        font-size: 36px;
                    }
                    p{
                        font-family: 'MuseoSansCyrl';
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 1.4;
                        padding-bottom: 25px;
                    }
                    .btn{
                        font-family: 'MuseoSansCyrl';
                        font-weight: 700;
                        font-size: 18px;
                        color: #fff;
                        padding: 12px 40px;
                    }
                }
                .img{
                    width: 540px;
                    a{
                        &:focus {
                            outline: none;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .slider-dotshead{
        max-width: 200px;
        .slick-current{
            border-top: 4px solid #5ea77e !important;
            .dots-box{ 
                width: 50px;
                height: 28px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 6px;
                &__number{
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 34px;
                }
            }
        }
        .slick-slide{
            border-top: 4px solid #c0cbc5;
        }
    }
}

.group{
    .group__items{
        padding-top: 130px;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: flex-end;
        &-item{
            width: 380px;
            .car{
                background: url(../img/sprite.png) no-repeat top right;
                display: inline-block;
                width: 100px;
                height: 78px;
                background-position: -5px -105px;
            }
            .warranty{
                &:before{
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    width: 68px;
                    height: 96px;
                    background-position: -360px -5px;
                }
            }
            .control{
                &:before{
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    width: 100px;
                    height: 76px;
                    background-position: -201px -124px;
                }
            }
            .discount{
                &:before{
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    width: 94px;
                    height: 92px;
                    background-position: -65px -210px;
                }
            }
            h3{
                font-size: 24px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

.catalog{
    padding-bottom: 130px;
    h2{
        font-size: 28px;
        font-weight: 700;
    }
    .catalog__slider{
        position: relative;
        .slider-arrows{
            position: absolute;
            top: 40%;
        }
        .arrow-next{
            right: -70px;
            border-radius: 100px;
            border: 0;
            padding: 20px 28px 20px 32px;
            cursor: pointer;
            background-color: #fff;
            box-shadow: 0px 7px 24.3px 2.7px #cecece;
            &:focus {
                outline: none;
            }
            &:before{
                content: "";
                background: url(../img/sprite.png) no-repeat top right;
                display: inline-block;
                width: 22px;
                height: 40px;
                background-position: -224px -55px;
            }
            &.slick-disabled{
                &:before {
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    opacity: 0.2;
                    width: 22px;
                    height: 40px;
                    background-position: -256px -55px;
                }
            }
        }
        .arrow-prev{
            border-radius: 100px;
            border-style: none;
            padding: 20px 32px 20px 28px;
            left: -70px;
            cursor: pointer;
            background-color: #fff;
            box-shadow: 0px 7px 24.3px 2.7px #cecece;
            &:focus {
                outline: none;
            }
            &:before{
                content: "";
                background: url(../img/sprite.png) no-repeat top right;
                display: inline-block;
                width: 22px;
                height: 40px;
                background-position: -268px -5px;
            }
            &.slick-disabled{
                &:before {
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    opacity: 0.2;
                    width: 22px;
                    height: 40px;
                    background-position: -171px -55px;
                }
            }
        }
        &-item{
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            .left{
                width: 120rem;
                a{
                    &:focus {
                        outline: none;
                    }
                    img{
                        width: 100%;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .info{
                float: right;
                h3{
                    font-size: 22px;
                    font-weight: 700;
                }
                span{
                    font-size: 18px;
                    font-weight: 700;
                }
                .advantages{
                    display: flex;
                    align-items: center;
                    span{
                        padding: 8px 10px;
                        top: 4px;
                        left: 10px;
                        border-radius: 100px;
                        border: 0;
                        background-color: #5eb785;
                        &:before{
                            content: "";
                            display: inline-block;
                            background: url(../img/sprite.png) no-repeat top right;
                            width: 29px;
                            height: 26px;
                            background-position: -288px -63px;
                        } 
                    }
                    p{
                        + p{
                            padding-left: 10px;
                        }
                    }
                }
                .price{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .btn{
                        color: #fff;
                    }
                    p{
                        padding-right: 50px;
                        font-size: 28px;
                        font-weight: 700;
                        color: #5eb785;
                        margin: 0;
                    }
                }
                .number{
                    font-weight: 700;
                    color: #5eb785;
                    float: right;
                }
            }
        }
    }
}

.why{
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    .why__slider{
        position: relative;
        padding-bottom: 150px;
        .slick-list{
            height: 500px !important;
            padding-top: 50px !important;
        }
        .slider-arrows{
            position: absolute;
            right: 100px;
            top: 230px;
        }
        .arrow-next{
            border-radius: 10em 10em 0 0;
            border-style: none;
            padding: 10px 10px 30px 10px;
            top: 172px;
            cursor: pointer;
            background-color: #fff;
            box-shadow: 0px 7px 24.3px 2.7px #cecece;
            &:focus {
                outline: none;
            }
            &:before{
                content: "";
                background: url(../img/sprite.png) no-repeat top right;
                display: inline-block;
                width: 25px;
                height: 13px;
                background-position: -26px -63px;
            }
            &.slick-disabled{
                background-color: #e6e6e6;
                box-shadow: none;
                &:before {
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    opacity: 0.2;
                    width: 25px;
                    height: 13px;
                    background-position: -61px -63px;
                }
            }
        }
        .arrow-prev{
            border-radius: 0 0 10em 10em;
            border-style: none;
            padding: 30px 10px 12px 10px;
            cursor: pointer;
            background-color: #fff;
            box-shadow: 0px 7px 24.3px 2.7px #cecece;
            &:focus {
                outline: none;
            }
            &:before{
                content: "";
                background: url(../img/sprite.png) no-repeat top right;
                display: inline-block;
                width: 25px;
                height: 13px;
                background-position: -233px -5px;
            }
            &.slick-disabled{
                background-color: #e6e6e6;
                box-shadow: none;
                &:before {
                    content: "";
                    background: url(../img/sprite.png) no-repeat top right;
                    display: inline-block;
                    opacity: 0.2;
                    width: 25px;
                    height: 13px;
                    background-position: -198px -5px;
                }
            }
        }
        &-item{
            border-radius: 200px;
            padding-top: 90px;
            padding-bottom: 130px;
            border-style: none;
            box-shadow: 0px 7px 24.3px 2.7px #cecece;
            text-align: center;
            display: block !important;
            width: 400px !important;
            margin: 0 auto;
            background-color: #fff !important;
            background: url(../img/line-g.png);
            background-repeat: no-repeat;
            background-position: bottom;
            .logo{
                padding-right: 20px;
                &:before{
                    content: "";
                    display: inline-block;
                    background: url(../img/sprite.png) no-repeat top right;
                    width: 156px;
                    height: 43px;
                    background-position: -5px -5px;
                }
            }
            h4{
                color: #5eb785;
                font-weight: 700;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

.check{
    &__main{
        background: url(../img/check-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        .check__main-inner{
            display: flex;
            padding: 50px 0;
            input{
                padding: 12px 25px;
                border-radius: 100px;
                border: 0;
            }
            .btn{
                margin: 0 30px;
                color: #fff;
            }
            .message{
                position: relative;
                color: #5eb785;
                .success{
                    position: absolute;
                    span{
                        position: absolute;
                        padding: 8px 10px;
                        top: 4px;
                        left: 10px;
                        border-radius: 100px;
                        border: 0;
                        background-color: #5eb785;
                        &:before{
                            content: "";
                            background: url(../img/sprite.png) no-repeat top right;
                            display: inline-block;
                            width: 19px;
                            height: 18px;
                            background-position: -131px -63px;
                        }
                    }
                    p{
                        padding: 12px 25px;
                        margin: 0 30px;
                        border-radius: 100px;
                        border: 0;
                        background-color: #fff;
                        width: 310px;
                    }
                }
                .error{
                    position: absolute;
                    visibility: hidden;
                    position: absolute;
                    span{
                        position: absolute;
                        padding: 8px 10px;
                        top: 4px;
                        left: 10px;
                        border-radius: 100px;
                        border: 0;
                        background-color: #5eb785;
                        &:before{
                            content: "";
                            background: url(../img/sprite.png) no-repeat top right;
                            display: inline-block;
                            width: 19px;
                            height: 18px;
                            background-position: -131px -63px;
                        }
                    }
                    p{
                        padding: 12px 25px;
                        border-radius: 100px;
                        border: 0;
                        background-color: #fff;
                        width: 392px;
                    }
                }
            }
        }
    }
}

.form{
    background: linear-gradient(to top, #dfeee5, #fff);
    .form__inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 150px;
        &-left{
            display: flex;
            align-items: flex-end;
            padding-bottom: 100px;
            .box{
                border-radius: 20px;
                border: 0;
                background-color: #fff;
                box-shadow: 0px 7px 24.3px 2.7px #cecece;
                width: 500px;
                &-title{
                    padding-top: 30px;
                    padding-left: 30px;
                }
                &-inner{
                    display: block;
                    text-align: center;
                    padding: 50px;
                    input{
                        display: block;
                        border-radius: 100px;
                        border: 0;
                        background-color: #fff;
                        box-shadow: 0px 7px 24.3px 2.7px #cecece;
                        width: 400px;
                        height: 40px;
                        margin-bottom: 40px;
                        padding-left: 20px;
                        &:focus {
                            outline: none;
                        }
                    }
                    textarea{
                        display: block;
                        border-radius: 20px;
                        border: 0;
                        background-color: #fff;
                        box-shadow: 0px 7px 24.3px 2.7px #cecece;
                        width: 400px;
                        height: 200px;
                        margin-bottom: 40px;
                        padding-left: 20px;
                        padding-top: 20px;
                        resize: none;
                        &:focus {
                            outline: none;
                        }
                    }
                    .btn{
                        color: #fff;
                    }
                }
            }
            .contacts{
                border-radius: 20px;
                border: 0;
                background-color: #fff;
                box-shadow: 0px 7px 24.3px 2.7px #cecece;
                padding: 30px 20px;
                margin-left: 20px;
                ul{
                    li{
                        cursor: pointer;
                        + li {
                            padding-top: 40px;
                        }
                        .tele{
                            background: url(../img/sprite.png) no-repeat top right;
                            display: inline-block;
                            width: 39px;
                            height: 36px;
                            background-position: -115px -159px;
                        }
                        .inst{
                            background: url(../img/sprite.png) no-repeat top right;
                            display: inline-block;
                            width: 38px;
                            height: 38px;
                            background-position: -256px -210px;
                        }
                        .vk{
                            background: url(../img/sprite.png) no-repeat top right;
                            display: inline-block;
                            width: 46px;
                            height: 29px;
                            background-position: -304px -210px;
                        }
                    }
                }
            }
        }
    }
}

.footer{
    background-color: #151515;
    .container{
        position: relative;
    }
    .footer-sub{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 45px;
        p{
            color: #fff;
        }
        input{
            display: block;
            border-radius: 100px;
            border: 0;
            background-color: #656c73;
            height: 40px;
            width: 250px;
            padding: 0 20px;
            &::placeholder {
                color: #d1d1d1;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .line{
        &:before{
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #575c59;
        }
    }
    .menu{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 22px;
            padding-top: 20px;
            padding-bottom: 50px;
            li{
                + li {
                    padding-left: 55px;
                }
                a{
                    color: #fff;
                    font-size: 15px;
                    &:hover{
                        color: #5eb785;
                        transition: color .3s ease-out;
                    }
                }
            }
            .logo{
                &:before{
                    content: "";
                    display: inline-block;
                    background: url(../img/sprite.png) no-repeat top right;
                    vertical-align: sub;
                    width: 156px;
                    height: 43px;
                    background-position: -5px -5px;
                }
                p{
                    margin: 0;
                    padding-top: 10px;
                    color: #fff;
                }
            }
            .mail{
                &:before{
                    content: "";
                    display: inline-block;
                    background: url(../img/sprite.png) no-repeat;
                    vertical-align: bottom;
                    width: 34px;
                    height: 26px;
                    background-position: -314px -99px;
                    margin-right: 10px;
                }
            }
        }
    }
}

///////////////////////////////////////////// 2 page

.header-cart{
    padding-bottom: 0;
}

.header__main-cart{
    display: flex;
    justify-content: space-between;
}

.pentagon-cart{
    border-width: 15rem 50px 0 0 !important;
}

.checkout{
    padding-bottom: 50px;
    .checkout__inner{
        display: flex;
        justify-content: space-between;
        &-products{
            display: flex;
            flex-wrap: wrap;
            div + div{
                margin-left: 50px;
            }
            .item{
                width: 320px;
                height: 370px;
                text-align: center;
                background-color: #fff;
                box-shadow: 0px 7px 24.3px 2.7px #cecece;
                border-radius: 0 2em 0 2em;
                &-top{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    font-weight: 700;
                    .left{
                        color: #5eb785;
                        cursor: pointer;
                    }
                    .right{
                        color: #c23131;
                        cursor: pointer;
                    }
                }
                .img{
                    width: 100%;
                }
                &-amount{
                    margin-left: 0;
                    input{
                        width: 40px;
                        background-color: #f4fbff;
                        border-style: none;
                        text-align: center;
                        &:focus {
                            outline: none;
                        }
                    }
                    button{
                        border-style: none;
                        background-color: transparent;
                        cursor: pointer;
                        font-size: 26px;
                        &:focus {
                            outline: none;
                        }
                    }
                    .plus{
                        color: #5eb785;
                    }
                }
            }
        }
        &-order{
            width: 600px;
            table{
                th {
                    font-weight: 700;
                    padding: 10px 8px;
                }
                td {
                    padding: 9px 8px;
                    transition: .3s linear;
                }
            }
            .check__main-inner{
                display: flex;
                padding: 20px 0;
                input{
                    border-radius: 100px;
                    border: 0;
                    text-align: center;
                    width: 115px;
                }
                .btn{
                    margin: 0 10px;
                    color: #fff;
                }
                .message{
                    position: relative;
                    color: #5eb785;
                    .success{
                        position: absolute;
                        span{
                            position: absolute;
                            padding: 8px 10px;
                            top: 4px;
                            left: 10px;
                            border-radius: 100px;
                            border: 0;
                            background-color: #5eb785;
                            &:before{
                                content: "";
                                background: url(../img/sprite.png) no-repeat top right;
                                display: inline-block;
                                width: 19px;
                                height: 18px;
                                background-position: -131px -63px;
                            }
                        }
                        p{
                            padding: 12px 25px;
                            margin: 0 30px;
                            border-radius: 100px;
                            border: 0;
                            background-color: #fff;
                            width: 275px;
                        }
                    }
                    .error{
                        position: absolute;
                        visibility: hidden;
                        position: absolute;
                        span{
                            position: absolute;
                            padding: 8px 10px;
                            top: 4px;
                            left: 10px;
                            border-radius: 100px;
                            border: 0;
                            background-color: #5eb785;
                            &:before{
                                content: "";
                                background: url(../img/sprite.png) no-repeat top right;
                                display: inline-block;
                                width: 19px;
                                height: 18px;
                                background-position: -131px -63px;
                            }
                        }
                        p{
                            padding: 12px 25px;
                            border-radius: 100px;
                            border: 0;
                            background-color: #fff;
                            width: 275px;
                        }
                    }
                }
            }
            .check__main-price{
                display: flex;
                border: 2px solid #5eb785;
                width: 450px;
                .left{
                    width: 320px;
                }
                .right{
                    width: 130px;
                    background-color: #dfeee5;
                    position: relative;
                    p{
                        font-size: 28px;
                        font-weight: 700;
                        color: #5eb785;
                    }
                    span{
                        text-decoration: line-through;
                        color: #afafaf;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                    }
                }
            }
        }
    }
}

.form--cart{
    padding-bottom: 50px;
    padding-top: 50px;
    .form__inner--cart{
        border-radius: 20px;
        border: 0;
        background-color: #fff;
        box-shadow: 0px 7px 24.3px 2.7px #cecece;
        width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: unset;
        padding: 0 50px 50px 50px;
        background: url(../img/cart-line.png);
        background-repeat: no-repeat;
        background-position: bottom;
        .form__inner-left--cart{
            padding-top: 50px;
            padding-bottom: 0;
            .box{
                box-shadow: none;
                width: 100%;
                background-color: transparent;
                label{
                    padding-bottom: 10px;
                }
                input{
                    display: block;
                    border-radius: 100px;
                    border: 0;
                    box-shadow: 0px 7px 24.3px 2.7px #cecece;
                    width: 380px;
                    height: 40px;
                    margin-bottom: 40px;
                    padding-left: 20px;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .form__inner-right--cart{
            .top{
                background-color: #dfeee5;
                border-radius: 0 0 20px 20px;
                padding-top: 50px;
                padding-bottom: 30px;
                margin-bottom: 50px;
                text-align: center;
            }
            input{
                display: block;
                border-radius: 100px;
                border: 0;
                background-color: #fff;
                box-shadow: 0px 7px 24.3px 2.7px #cecece;
                width: 380px;
                height: 40px;
                margin-bottom: 40px;
                padding-left: 20px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.order{
    padding: 50px 0;
    .order__inner{
        display: flex;
        justify-content: space-between;
        .left{
            &__inner{
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                &-text{
                    label{
                        display: block;
                        padding: 12px;
                    }
                }
                &-price{
                    color: #5eb785;
                }
            }
        }
        .center{
            .title{
                font-weight: 700;
            }
            span{
                color: #5eb785;
                font-weight: 700;
            }
        }
        .right{
            &__inner{
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                &-price{
                    color: #5eb785;
                }
            }
            label{
                display: block;
                padding-top: 20px;
            }
            .btn{
                margin-top: 20px;
            }
        }
        .contacts{
            border-radius: 20px;
            border: 0;
            padding: 30px 20px;
            margin-left: 20px;
            ul{
                li{
                    cursor: pointer;
                    + li {
                        padding-top: 40px;
                    }
                    .tele{
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        width: 39px;
                        height: 36px;
                        background-position: -115px -159px;
                    }
                    .inst{
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        width: 38px;
                        height: 38px;
                        background-position: -256px -210px;
                    }
                    .vk{
                        background: url(../img/sprite.png) no-repeat top right;
                        display: inline-block;
                        width: 46px;
                        height: 29px;
                        background-position: -304px -210px;
                    }
                }
            }
        }
    }
}
@import "media";
